on:
  pull_request:
  push:
    branches: [ 'master' ]

name: mutation test

jobs:
  mutation:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        php:
          - "8.5"

    steps:
      - name: Checkout.
        uses: actions/checkout@v6

      - name: Install PHP with extensions.
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php }}"
          ini-values: memory_limit=-1
          coverage: xdebug

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Run infection.
        run: vendor/bin/infection --threads=max --ignore-msi-with-no-mutations
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
